@mixin flex($justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $justify;
  text-align: center;
}

@mixin scale() {
  transform : scale(0.4);
  @media screen and (min-width: 700px) {
    transform : scale(0.6);
  }
  @media screen and (min-width: 940px) {
    transform : scale(0.7);
  }
  @media screen and (min-width: 1200px) {
    transform : scale(0.9);
  }
  @media screen and (min-width: 1500px) {
    transform : scale(1);
  }
}
