@import '_variables';
@import '_mixins';

$bottom-bar-height: 25vh;


.page-home{
  width: 100vw;
  height: 100vh - $bottom-bar-height;
}

/* HOME TOP */

.home-top {
  width: 100%;
  @include flex($justify: space-around);
  margin-top: 70px;
}

.home-activity{
  @include flex($direction: column);
  width: fit-content;
  font-size: 30px;
  @include scale();
  width: 30vw;
}

.home-timer{
  @include flex($direction: column);
  width: fit-content;
  font-size: 50px;
  @include scale();
  width: 30vw;
}

button {
  background-color: $color1;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
}

.home-progress {
  @include flex($direction: column);
  @include scale();
  width: 30vw;
  h1 {
    font-size: 50px;
    margin: 5px 0;
  }
}

/* HOME BOTTOM */

.home-bottom-bar {
  width: 100vw;
  height: $bottom-bar-height;
  background-color: $dark;
  position: fixed;
  bottom: 0;
}

.home-bottom{
  @include flex($justify: space-around);
  position: absolute;
  width: 100%;
  bottom: 30%;
}

.home-iconText {
  @include scale();
}