@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import './stylesheets/pages/_variables';

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
  color: $dark;
}